<section class="section" id="assorts">
  <div class="container">
    <h3 class="text-size-tagline">Assortment</h3>
    <h1 class="text-size-lg">Explore Our Delicious Organic Product Range</h1>

    <ul class="assorts-list">
      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-1@2x.jpg"
          src="
            ../images/assorts/assort-1.jpg"
          alt="Organic Gala Apples"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Organic Gala Apples</h2>
            <p class="text-small-normal">
              Juicy, crisp, and sweet apples grown without pesticides.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold">$3.50</span>
            <span class="text-size-custom">per 1 pound</span>
          </div>
        </div>
        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-2@2x.jpg"
          src="../images/assorts/assort-2.jpg"
          alt="Fresh Organic Spinach"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Fresh Organic Spinach</h2>
            <p class="text-small-normal">
              Young spinach leave hand-picked from a local organic farm
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold">$2.80</span>
            <span class="text-size-custom">per bunch</span>
          </div>
        </div>
        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-3@2x.jpg"
          src="../images/assorts/assort-3.jpg"
          alt="Free-Range Organic Eggs"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Free-Range Organic Eggs</h2>
            <p class="text-small-normal">
              Eggs from free-range hens fed with natural feed
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold">$5.00</span>
            <span class="text-size-custom">per dozen</span>
          </div>
        </div>
        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-4@2x.jpg"
          src="../images/assorts/assort-4.jpg"
          alt="Organic Almond Milk"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Organic Almond Milk</h2>
            <p class="text-small-normal">
              Natural plant-based milk with not added sugar - perfect for coffee
              and breakfast
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold">$4.20</span>
            <span class="text-size-custom">per 1 liter</span>
          </div>
        </div>
        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-5@2x.jpg"
          src="../images/assorts/assort-5.jpg"
          alt="Raw Organic Honey"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Raw Organic Honey</h2>
            <p class="text-small-normal">
              Unfiltered honey atraight from apiary - natural, sweet and
              healthy.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold">$7.50</span>
            <span class="text-size-custom">per 500 ml jar</span>
          </div>
        </div>
        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-6@2x.jpg"
          src="../images/assorts/assort-6.jpg"
          alt="Organic Carrot"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Organic Carrots</h2>
            <p class="text-small-normal">
              Crunchy and sweet carrots grown without chemicals.
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold">$1.90</span>
            <span class="text-size-custom">per 1 pound</span>
          </div>
        </div>
        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-7@2x.jpg"
          src="../images/assorts/assort-7.jpg"
          alt="Whole Organic Bread"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Whole Organic Bread</h2>
            <p class="text-small-normal">
              Homemade sourdough bread made with organic flour.
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold">$4.80</span>
            <span class="text-size-custom">per 1 loaf</span>
          </div>
        </div>

        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <img
          class="assort-image height-365 width-100"
          srcset="../images/assorts/assort-8@2x.jpg"
          src="../images/assorts/assort-8.jpg"
          alt="Organic Herbal Tea Mix"
        />
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold">Organic Herbal Tea Mix</h2>
            <p class="text-small-normal">
              Fragrant blend of mint, chamomile and thyme - perfect for
              relaxation.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold">$6.30</span>
            <span class="text-size-custom">per 100g</span>
          </div>
        </div>
        <button class="button-secondary btn-to-cart" type="button">
          Add to Cart
        </button>
      </li>
    </ul>
  </div>
</section>
